---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Titulo</h1>
			<p>
				Bienvenido a mi blog. Aquí podrás encontrar información sobre mi y mis proyectos.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid magni laudantium consequuntur, adipisci obcaecati facilis id reiciendis porro et laborum? Aspernatur asperiores quibusdam corrupti praesentium reprehenderit illo molestias eum soluta.
			</p>
		</main>
		<Footer />
	</body>
</html>
